.toast {
  padding: 10px 20px;
  margin-bottom: 1rem;
  border-radius: 4px;
  font-weight: bold;
  width: fit-content;
  max-width: 100%;
}

.toast.success {
  background-color: #d1fae5;
  color: #065f46;
  border: 1px solid #34d399;
}

.toast.error {
  background-color: #fee2e2;
  color: #991b1b;
  border: 1px solid #f87171;
}
